<h1>The Why of Why I'm Here</h1>



<tbody>

  <div id="banner">
   <img src="/images/circles.jpeg" width=100% height=200px>
  </div>
  <thead>
    <table style="width:100%">
      <tr class="stathead">
        <td align="left">Country</td>
        <td align="center">Gold</td>
        <td>Silver</td>
        <td>Bronze</td>
        <td>Total</td>
      <tr>
      <tr>
        <td>Giants of the Cupcake</td>
        <td align="center">1</td>
        <td>50</td>
        <td>3</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Banana Land</td>
        <td align="center">1</td>
        <td>94</td>
        <td>33</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Goldy's Playhouse</td>
        <td align="center">15</td>
        <td>22</td>
        <td>11</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Panda Planet</td>
        <td align="center">15</td>
        <td>22</td>
        <td>11</td>
        <td>50</td>
      </tr>
    </table>
  <thead>
</tbody>
